*{
    margin: 0;
    padding: 0px;
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0px auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-text{

}
.banner .banner-text h1{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
  }
.banner .banner-text p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
    

}
